.userCard{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  cursor: pointer;
}

.userCard__container{
  display: flex;
  align-items: center;
}

.userCard__picture__container{
  height: 41px;
  width: 41px;
  margin-right: 12px;
}

.userCard__picture {
  border-radius: 50%;
  width: 100%;
}

.dot{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  
}

.userCard__name {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: #858585;
}

.sub-userCard img{
  height: 20px;
  
}

.msj-number{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msj-number p{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 700;
  border-radius: 50%;
  background:  linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  color: white;
}