
.form {
  display: flex;
  flex: 1 auto auto;
  flex-direction: column;
  padding: 18px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* .form__title {
  font-weight: 400;
  margin-bottom: 24px;
} */

.form__dates {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.form__place__container {
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px; 
}

.form__place {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 32px;
}

.form__place__input {
  padding: 12px;
  border-radius: 6px;
  border: unset;
  outline: unset;
  width: 99%;
  align-self: center;
  height: 48px;
  background-color: #fff;
}

.form__submit {
  border-radius: 6px;
  border: unset;
  outline: unset;
  padding: 12px;
  background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
  color: #fff;
  align-self: flex-end;
  margin-top: 32px;
  cursor: pointer;
}